version: "3.7"

services:
  nginx:
    build: ./nginx/
    container_name: nginx
    networks:
      - backend
    ports:
      - target: 443
        published: 443
        protocol: tcp
    expose:
      - 9000
    restart: always
    env_file:
      - .env_secret
      - .env_config
    volumes_from:
      - wordpress
    depends_on:
     - wordpress

  mariadb:
    container_name: mariadb
    build: ./mariadb
    restart: always
    expose:
      - 3306
    networks:
      - backend
    env_file:
      - .env_secret
      - .env_config
    volumes:
      -  ${HOME}/data/mariadb:/var/lib/mariadb

  wordpress:
    build: ./wordpress
    container_name: wordpress
    restart: always
    expose:
      - 9000
    networks:
      - backend
    env_file:
      - .env_secret
      - .env_config
    volumes:
      - ${HOME}/data/wordpress:/www/wordpress
    depends_on:
      - mariadb


networks:
  backend:
